<h1>Hello World</h1>
<%= javascript_pack_tag 'application' %>
<%= react_component("HelloWorld", props: @hello_world_props, prerender: true) %>
<%= react_component("DisplayListOfNames", props: @list_of_names_props) %>
